[package]
name = "ink_storage_traits"
version.workspace = true
authors.workspace = true
edition.workspace = true

license.workspace = true
readme = "../README.md"
repository.workspace = true
documentation = "https://docs.rs/ink_storage_traits"
homepage.workspace = true
description = "[ink!] defines traits for using ink storage."
keywords.workspace = true
categories.workspace = true
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE"]

[dependencies]
ink_metadata = { workspace = true, features = ["derive"], optional = true }
ink_primitives = { workspace = true }
ink_prelude = { workspace = true }
scale = { workspace = true }
scale-info = { workspace = true, features = ["derive"], optional = true }

sp-io = { git = "https://github.com/use-ink/polkadot-sdk.git", rev = "a71ec19a94702ea71767ba5ac97603ea6c6305c1", default-features = false, features = ["disable_panic_handler", "disable_oom", "disable_allocator"] }
sp-runtime-interface = { git = "https://github.com/use-ink/polkadot-sdk.git", rev = "a71ec19a94702ea71767ba5ac97603ea6c6305c1", default-features = false, features = ["disable_target_static_assertions"] }

[dev-dependencies]
paste = { workspace = true }

[features]
default = [ "std" ]
std = [
	"ink_metadata/std",
	"ink_prelude/std",
	"ink_primitives/std",
    "sp-io/std",
    "sp-runtime-interface/std",
	"scale-info/std",
	"scale/std",
]
