# Ignore build artifacts from the local tests sub-crate.
/target/
/core/target/
/model/target/
/lang/target/
/primitives/target/
/integration-tests/**/target/
/design/

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Ignore history files.
**/.history/**
