[package]
name = "payment_channel"
version = "6.0.0-alpha"
authors = ["Use Ink <ink@use.ink>"]
edition = "2021"
publish = false

[dependencies]
ink = { path = "../../../crates/ink", default-features = false, features = ["unstable-hostfn"] }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", rev = "a251f77", default-features = false }

[dev-dependencies]
hex-literal = "1"

[lib]
path = "lib.rs"

[features]
default = ["std"]
std = [
    "ink/std",
]

ink-as-dependency = []
