[package]
authors = ["Use Ink <ink@use.ink>"]
edition.workspace = true
name = "ink"
rust-version = "1.63"
version.workspace = true

categories.workspace = true
description = "[ink!] Rust based eDSL for writing smart contracts for Substrate"
documentation = "https://docs.rs/ink"
homepage.workspace = true
include = ["Cargo.toml", "LICENSE", "README.md", "src/**/*.rs"]
keywords.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true

[dependencies]
derive_more = { workspace = true, features = ["from"] }
ink_env = { workspace = true }
ink_macro = { workspace = true }
ink_metadata = { workspace = true, optional = true }
ink_prelude = { workspace = true }
ink_primitives = { workspace = true }
ink_storage = { workspace = true }
pallet-contracts-uapi = { workspace = true }
pallet-revive-uapi = { workspace = true }
scale = { workspace = true }
scale-info = { workspace = true, default-features = false, features = [
	"derive",
], optional = true }
xcm = { workspace = true }

[dev-dependencies]
ink_ir = { workspace = true, default-features = true }
ink_metadata = { workspace = true }
trybuild = { workspace = true, features = ["diff"] }


[features]
default = ["std"]
std = [
	"ink_env/std",
	"ink_macro/std",
	"ink_metadata/std",
	"ink_prelude/std",
	"ink_primitives/std",
	"ink_storage/std",
	"scale-info/std",
	"scale/std",
	"xcm/std",
]
# Enable contract debug messages via `debug_print!` and `debug_println!`.
ink-debug = ["ink_env/ink-debug"]

show-codegen-docs = []

# Disable the ink! provided global memory allocator.
no-allocator = ["ink_env/no-allocator"]

# Disable the ink! provided panic handler.
no-panic-handler = ["ink_env/no-panic-handler"]
