[package]
name = "flipper"
version = "5.1.0"
authors = ["Use Ink <ink@use.ink>"]
edition = "2021"
publish = false

[dependencies]
ink = { path = "../../../crates/ink", default-features = false }
#foo = { path = "../../../foo", default-features = false }

[dev-dependencies]
ink_e2e = { path = "../../../crates/e2e" }
hex = { version = "0.4.3" }

[lib]
path = "lib.rs"

[features]
default = ["std"]
std = [
    "ink/std",
]
ink-as-dependency = []
test_instantiate = []
e2e-tests = []
