[package]
name = "trait-incrementer"
version = "6.0.0-alpha.4"
authors = ["Use Ink <ink@use.ink>"]
edition = "2024"
publish = false

[dependencies]
ink = { path = "../../../crates/ink", default-features = false }

traits = { path = "./traits", default-features = false }

[lib]
path = "lib.rs"

[features]
default = ["std"]
std = [
    "ink/std",
    "traits/std",
]
ink-as-dependency = []

[package.metadata.ink-lang]
abi = "ink"
