name:                           coverage

on:                             [push]

jobs:
  test:
    name:                       coverage 
    runs-on:                    ubuntu-latest
    container: 
      image:                    paritytech/ink-ci-linux:tarpaulin
      options:                  --security-opt seccomp=unconfined
    steps:
      - name:                   Checkout repository
        uses:                   actions/checkout@v2

      - name:                   Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 220 --out Xml

      - name:                   Upload to codecov.io
        uses:                   codecov/codecov-action@v1
        with:
          # token:                ${{secrets.CODECOV_TOKEN}} # not required for public repos
          fail_ci_if_error:     true
