name: continuous-intergration/measurements

on:
  workflow_call:

env:
  CARGO_TARGET_DIR:                /ci-cache/${{ github.repository }}/targets/${{ github.ref_name }}/${{ github.job }}

jobs:
  contract-sizes:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: paritytech/ci-unified:bullseye-1.75.0
    strategy:
      fail-fast: false
      matrix:
        branch: [master, pull_request]
    steps:
      - name: Checkout Pull Request
        if: ${{ matrix.branch == 'pull_request' }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checkout Master
        if: ${{ matrix.branch == 'master' }}
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 1

      - name: Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-directories: ${{ env.CARGO_TARGET_DIR }}

      - name: Rust Info
        uses: ./.github/rust-info

      - name: Measure Contract Sizes
        env:
          PR_NUMBER:               ${{ github.event.number }}
        run: |
          cargo install --force --git https://github.com/paritytech/cargo-contract.git --branch cmichi-experiment-with-wasm-target-features

          # Variables
          MEASUREMENTS_DIR="${GITHUB_WORKSPACE}/measurements"
          SCRIPTS_DIR="${GITHUB_WORKSPACE}/scripts"
          CONTRACT_SIZES="${MEASUREMENTS_DIR}/${{ matrix.branch }}_contract_sizes"

          # Measure contract sizes for the current branch
          mkdir ${MEASUREMENTS_DIR}
          ${SCRIPTS_DIR}/for_all_contracts_exec.sh --path integration-tests --quiet -- ${SCRIPTS_DIR}/contract_size.sh {} > ${CONTRACT_SIZES}
          sed -ie 's/^integration-tests\/\(public\/\|internal\/\)\?//' ${CONTRACT_SIZES}

          CARGO_CONTRACT_VERSION=$(cargo-contract --version | egrep --only-matching "cargo-contract.* .*-x86" | sed -s 's/-x86//')
          echo "CARGO_CONTRACT_VERSION=\"${CARGO_CONTRACT_VERSION}\"" > ${MEASUREMENTS_DIR}/context.out
          echo "PR_NUMBER=\"${PR_NUMBER}\"" >> ${MEASUREMENTS_DIR}/context.out

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.job }}-${{ matrix.branch }}-data
          path: ./measurements
          retention-days: 1
